ul{
	font-size: 0px;
	height: 624px;
	padding-inline-start:0px;
padding-start: 0px;
}
.list{border: 4px solid #ffffff
}

ul:hover li {
  opacity:0.7;
}
ul:hover li:hover {
  opacity:1;
}
.footer{
	font-style: sans-serif;
	color: #FFF;
	font-size: 24px;

}

 *{transition: all .1s ease-in;}

li{
	display: inline-block;
	font-size: 24px;
	height: 100%;
	padding: 40px 0;
}
.header{
	font-style: Lucida Sans Unicode;
	color: #FFF;
}
.container{
	padding:50px 240px 160px 240px;
	background-color: #3399cc;
	border: 25px solid #2b81ac;

}
li:nth-child(1) {
	background-color: #3399cc;
}
li:nth-child(2) {
	background-color: #33cccc;
}
li:nth-child(3) {
	background-color: #996699;
}
li:nth-child(4) {
	background-color: #c24747;
}
li:nth-child(5) {
	background-color: #e2674a;
}
li:nth-child(6) {
	background-color: #ffcc66;
}
li:nth-child(7) {
	background-color: #99cc99;
}
li:nth-child(8) {
	background-color: #669999;
}
li:nth-child(9) {
	background-color: #cc6699;
}
li:nth-child(10) {
	background-color: #339966;
}

li:nth-child(11) {
	background-color: #666699;
}
.city{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	    height: 25%;
	    font-style: Lucida Grande;
	    color: #FFF;
	    border: 4px solid #ffffff;
	   text-align: center;

}
.percent-50{

	width: 50%;
}
.percent-25{
	width: 25%;
}
.percent-100{
	width: 100%;
}

p{
	opacity:0.5;
	    margin-block-start: 0;
    margin-block-end: 0;
}
div{
	margin: auto 0px;
}
